<% if user_signed_in? %>
  <%= form_for [commentable, Comment.new] do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control", placeholder: "Add a comment" %>
    </div>
  <%= f.submit class: "btn btn-primary" %>
  <% end %>
<% else %>
  <h4 class="h3 mb-3 font-weight-normal">Please <%= link_to "login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to comment.</h4>
  <% end %>
