<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/header" %>
  </head>

  <body class="text-center">
    <%= render "layouts/navbar" %>
    <!--<%= flash %>-->
    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
