<!DOCTYPE html>
<html>
  <head>
    <title>Writter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <h1>Writter</h1>
    <!--<%= flash %>-->
    <%= yield %>
  </body>
</html>
